/*Custom Style*/
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
body {
	font-family:'Montserrat',sans-serif;
}
.container.nomargin {
	margin:0;
	padding:0;
	width:100%;
}
.padding {
	padding:80px 0;
}

.margin {
	margin: 30px 0;
}
.title {
	font-size:6em;
	font-family:'Lato',sans-serif;
	display:block;
}
hr.star {
	margin:25px auto 30px;
	padding:0;
	max-width:250px;
	border:0;
	border-top:solid 5px;
	text-align:center;
}
hr.star:after {
	color:#fff;	
	content:"\2605";
	position:relative;
	top:-.8em;
	padding:0 .25em;
	font-size: 2.5em;
	background: #ecf0f1;
}


/* Navigation Styling */
.navbar {
	background: #f9948c;
	padding: 20px;
}
.navbar .navbar-brand {
	color: #ecf0f1;
	font-size: 2.5em;
	font-weight: 900;
}
.navbar .navbar-brand:hover {
	color: #2980b9;
}
.navbar-inverse .navbar-nav>li>a {
	color: #ecf0f1;
	font-size: 1.5em;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a {
	
}


/* Header Styling */
#header {
	background: #ecf0f1;
	color: #34495e;

}
#header .icon {
	font-size: 30px;
	margin-top: 70px;
	display: block;
}

#header hr.star:after {
	color: #f9948c;
}

}
#header .skills {
	font-size: 2.75em
}


/*down arrow icon*/
#header a {
color: #34495e;
}

#header a:hover {
color: #f9948c;
}



/* Work Styling */
#work {
	color: #34495e;
}
#work img {

}
#work hr.star:after {
color: #f9948c;
background-color: white;
}

#work .portfolio-item {
border-radius: 15px;
height: 300px;
background: #eee;
}

/*Hover effect*/
#work .portfolio-item img {
border-radius: 15px;
margin: 20px 0;
opacity: 1;
transition: all .3s;
}

#work .portfolio-item img:hover {
	margin: 5px 0;
	opacity: .7;
	
}


/* Contact Styling */
#contact {	
	font-family:'Lato',sans-serif;	
	color: #34495e;
	background-color: #ecf0f1;
}
#contact h4 {
	
}
#contact .has-success .form-control,
#contact .has-success .control-label {
border-color: #34495e;
color: #34495e;
}

#contact hr.star {

}

#contact hr.star:after {
	color: #f9948c;
background-color: #ecf0f1;
}
#contact .btn-social {
	display:inline-block;
	width:50px;
	height:50px;
	border:3px solid #34495e;
	border-radius:100%;
	text-align:center;
	font-size:25px;
	font-weight:900;
	line-height:45px;
}

#contact .btn-social i {

}

#contact .socials>li {
margin: 25px 12px;
}
#contact .socials a {
color: #34495e;
transition: all .2s;
}
#contact .socials>li:hover a {
background-color: #34495e;
}
#contact .socials>li:hover i {
color: #ecf0f1;
}

#contact .btn-primary {
	background-color: #34495e;
	border-color: #34495e;
}

#contact .btn-primary:focus,
#contact .btn-primary:hover{
	background-color: #7f8c8d;
}

/* Footer Styling */
footer {
background-color: #2c3e50;
padding: 20px;
}

footer p {
	padding: 10px 0;
	margin:0;
	color: white;
}



/* ==== Media Queries ====*/

/* iPads (Tablets) ----------- */
@media only screen and (min-width: 768px) and (max-width : 1024px) {
/* Styles */

.title {

}

.padding {

}

#work .portfolio-item {
	
}

#work .portfolio-item img {

}

#work .portfolio-item img:hover {
	

}

#contact  {
	
}

}

/* Iphone/Android (Small Devices) ----------- */
@media only screen and (min-width : 320px) and (max-width: 767px) {
/* Styles */

.title {
	font-size:3em;
}

.skills {
	font-size: 1em;
}

#header .icon {

}

#work .portfolio-item {

}

#work .portfolio-item img {

}

#work .portfolio-item img:hover {


}

#contact .socials>li {

}

.margin.no_margin_mobile {

}


.contact-form button.pull-right {
	
}

.social-media {

}


}